:root {
    font-size: 13px;
  }
  .container {
    width: 95%;
    margin: 0 auto;
  }
  .col-mini-12 {
    grid-column: span 12;
  }
  .col-mini-11 {
    grid-column: span 11;
  }
  .col-mini-10 {
    grid-column: span 10;
  }
  .col-mini-9 {
    grid-column: span 9;
  }
  .col-mini-8 {
    grid-column: span 8;
  }
  .col-mini-7 {
    grid-column: span 7;
  }
  .col-mini-6 {
    grid-column: span 6;
  }
  .col-mini-5 {
    grid-column: span 5;
  }
  .col-mini-4 {
    grid-column: span 4;
  }
  .col-mini-3 {
    grid-column: span 3;
  }
  .col-mini-2 {
    grid-column: span 2;
  }
  .col-mini-1 {
    grid-column: span 1;
  }
  