header{
    border-bottom: 5px solid #409EFF;
    box-shadow: 0 5px 5px rgb(0, 0, 0,.2);
}
header .navbar{
    display: flex;
    align-items: center;
    padding: 1rem 0;
}
header .navbar .logo{
    color: #409EFF;
    font-weight: bold;
    margin-right: 20px;
    font-size: 1.3rem;
}
header .navbar .logo + label{
    /* background-color: pink; */
    display: none;
}

header .navbar .logo + label + input{
    background-color: pink;
    display: none;
}
header .navbar .right-box{
    /* background-color: pink; */
    display: flex;
    flex-grow: 1;
}
header .navbar .right-box .links{
    display: flex;
    /* 占据右侧的空间 */
    margin-right: auto;
}
header .navbar .right-box .links li{
    margin: 0 10px;
}
header .navbar .right-box .links li a{
    color: #777;
    font-weight: bold;
}
header .navbar .right-box  .links li a:hover{
    color: #333;
}
header .navbar .right-box .form a{
    border: 1px solid #409EFF;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    padding: .3rem 1rem;
    color: #409EFF;
}
header .navbar .right-box .form a.register{
    background-color:#409EFF ;
    color: #fff;
}

@media only screen and (max-width:960px){
    header .navbar{
        flex-flow: row wrap;
    }
    header .navbar .logo{
        margin-right: auto;
    }
    header .navbar .logo + label{
        display: block;
        border: 1px solid #ddd;
        padding: .5rem 1rem;
        color: #555;
        cursor: pointer;
    }
    header .navbar .logo + label + input:checked + .right-box{
        display: block;
    }
    header .navbar .right-box{
        display: none;
        flex-flow: column;
        width: 100%;
    }
    header .navbar .right-box .links{
        flex-direction: column;
        margin-bottom: 1.5rem;
    }
    header .navbar .right-box .links li{
        margin: .5rem 0;
    }
}